@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --body-bg: #FAFBFB;
    --submit-bg: #F1F4F5;
    --currently-bg: #F0F0F1;
    --gray: #989899;
    --lighter-gray: #C1C1C2;
    --line-color: #5A5B5C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--body-bg);
}

img {
    width: 5rem;
    filter: drop-shadow(0 5px 5px var(--gray));
}

.container {
    margin-top: 4.8rem;
}

.top {
    justify-content: space-around;
}

.top,
.currently,
.left,
.right {
    display: flex;
}

.currently {
    background-color: var(--currently-bg);
    border-radius: 0 2rem 2rem 0;
    border-left: 3px solid var(--line-color);
}

.temp {
    width: fit-content;
}

.temp:hover {
    cursor: pointer;
}

.convert-unit {
    opacity: 0.5;
}

.current-icon {
    margin: 0.5rem 1rem 0 0;
    width: 7rem;
}

.below>p,
.current-hl>*,
.details>p {
    font-family: 'Port Lligat Sans', sans-serif;
}

.currently,
.details {
    padding: 1rem;
}

.list {
    user-select: none;
}

.list,
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    margin-left: 1.5rem;
}

.map {
    text-align: center;
}

.list,
.details,
.map {
    line-height: 3rem;
}

.search {
    border: 3px solid var(--line-color);
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 20rem;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.submit {
    background-color: var(--submit-bg);
    border: 3px solid var(--line-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search,
.submit {
    outline: none;
    padding: 0.5rem;
}

#map {
    height: 15rem;
    width: 40rem;
    border-radius: 1rem;
}

.currently,
#map {
    box-shadow: var(--lighter-gray) 0px 6px 12px -2px, var(--line-color) 0px 3px 7px -3px;
}

.bottom,
.upper {
    display: flex;
}

.upper {
    justify-content: space-between;
    margin: 1rem;
}

.bottom {
    flex-direction: column;
    margin: 3rem 5rem 0 5rem;
    border-top: 1px solid var(--line-color);
}

.buttons,
.arrows {
    display: inline-flex;
}

.daily-button,
.hourly-button {
    font-size: 1rem;
    user-select: none;
    padding: 1rem;
}

.daily-button,
.hourly-button,
.arrow {
    border: none;
    background: none;
    cursor: pointer;
}

.future {
    display: flex;
    justify-content: space-around;
    margin: 2rem
}

.sub-group {
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time-unit {
    font-size: 2rem;
}

.currently-header,
.location,
.time-unit {
    font-weight: 500;
}

.future-temp {
    /* avoid elements moving while animating on conversion */
    width: 10rem;
}

.temp,
.temp>*,
.future-temp,
.future-temp>span {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.future-temp>span {
    font-size: 1.25rem;
}

/* default tab on first time page load */
.daily-button {
    border: 1px solid var(--line-color);
    margin-right: 5rem;
}

.hourly-button {
    border: 1px solid var(--body-bg);
}

.arrow {
    margin-left: 5rem;
    display: none;
}

.arrow:hover {
    color: gray;
}

.arrow:active {
    color: var(--line-color);
}

@media only screen and (max-width: 1350px) {
    #map {
        height: 15rem;
        width: 30rem;
    }

    .time-unit {
        font-size: 1.8rem;
    }

    .future-temp {
        font-size: 1.3rem;
    }

    .future-temp>span {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 1200px) {
    .list {
        width: 10rem;
    }

    .currently-header,
    .location {
        font-size: 1.8rem;
    }

    .temp {
        font-size: 1.3rem;
    }

    .current-icon {
        width: 6rem;
    }

    .above>p,
    .below>p,
    .details>p {
        font-size: 0.9rem;
    }

    .search {
        width: 15rem;
    }

    .error {
        font-size: 0.8rem;
    }

    #map {
        width: 25rem;
    }

    .bottom {
        border: none;
    }

    .future {
        flex-direction: column;
    }

    .group {
        justify-content: center;
        margin: 2rem;
    }

    .sub-group {
        border: 3px solid var(--line-color);
        border-radius: 1rem;
        padding: 1rem;
        width: 12rem;
        box-shadow: var(--lighter-gray) 0px 6px 12px -2px, var(--line-color) 0px 3px 7px -3px;
    }

    .time-unit {
        font-size: 2rem;
    }

    .future-temp {
        font-size: 1.5rem;
    }

    .future-temp>span {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        margin: 0;
    }

    .top {
        flex-direction: column;
    }

    .left,
    .right {
        justify-content: center;
        margin: 4.5rem 4.5rem 0 4.5rem;
    }

    .currently {
        width: 27rem;
        height: 24rem;
    }

    .currently-header,
    .location {
        font-size: 2rem;
    }

    .temp {
        font-size: 1.5rem;
    }

    .current-icon {
        width: 7rem;
    }

    .above>p,
    .below>p,
    .details>p {
        font-size: 1rem;
    }

    .error {
        font-size: 1rem;
    }

    .list {
        width: 15rem;
    }

    .details {
        width: 11rem;
        /* avoid decentering left container */
        min-width: 11rem;
    }

    .search {
        width: 20rem;
    }

    #map {
        height: 15rem;
        width: 40rem;
    }

    .bottom {
        margin: 4.5rem 2rem 0 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .currently {
        width: 17rem;
        height: 27rem;
    }

    .currently-header,
    .location {
        font-size: 1.7rem;
    }

    .temp {
        font-size: 1.25rem;
    }

    .current-icon {
        margin: 1rem 1rem 0 0;
        width: 4rem;
    }

    .list,
    .details {
        margin-left: 1rem;
    }

    .error {
        font-size: 1rem;
    }

    .list {
        width: 15rem;
    }

    .details {
        width: 11rem;
    }

    .search {
        width: 17rem;
    }

    #map {
        height: 15rem;
        width: 29rem;
    }

    .bottom {
        margin: 0 2rem 0 2rem;
    }

    .right,
    .bottom {
        margin-top: 4.5rem;
    }
}