*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.container {
    margin-top: 4rem;
}

.top,
.currently,
.left,
.right {
    display: flex;
}

.top {
    justify-content: space-around;
}

.currently {
    background-color: lightcyan;
}

.currently,
.details {
    padding: 1rem;
}

.list,
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
}

.list,
.details,
.map {
    line-height: 2rem;
}

.map {
    text-align: center;
}

.search {
    border-right: none;
    border-radius: 5px 0 0 5px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.submit {
    border-left: none;
    background-color: white;
    border-radius: 5px 0 0 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search,
.submit {
    outline: none;
    border-color: black;
}

#map {
    height: 15rem;
    width: 30rem;
}

.bottom,
.upper {
    display: flex;
}

.bottom {
    flex-direction: column;
    margin: 5rem;
    border-top: 1px solid black;
}

.upper {
    justify-content: space-between;
}

.daily-button,
.hourly-button {
    font-size: 1rem;
    user-select: none;
    padding: 1rem;
}

.daily-button,
.hourly-button,
.arrow {
    border: none;
    background: none;
    cursor: pointer;
}

/* default tab on first time page load */
.daily-button {
    margin-right: 5rem;
    border: 1px solid black;
}

.arrow {
    margin-left: 5rem;
}

.arrow:hover {
    color: gray;
}

.arrow:active {
    color: black;
}

.future {
    display: flex;
    justify-content: space-around;
}

.upper,
.future {
    margin: 2rem;
}

/* animation */
.dot-flashing {
    position: relative;
    margin: 1rem;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
    color: gray;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: black;
    }

    50%,
    100% {
        background-color: gray;
    }
}