@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
}

body {
    background-color: #FAFBFB;
}

img {
    width: 5rem;
    filter: drop-shadow(0 5px 5px gray);
}

.container {
    margin-top: 4.5rem;
}

.top {
    justify-content: space-around;
}

.top,
.currently,
.left,
.right {
    display: flex;
}

.currently {
    background-color: #F1F4F5;
    border-radius: 0 2rem 2rem 0;
    border-left: 3px solid #5A5B5C;
}

.temp {
    width: fit-content;
}

.temp:hover {
    cursor: pointer;
}

.convert-unit {
    opacity: 0.5;
}

.below>p,
.current-hl>*,
.details>p {
    font-family: 'Port Lligat Sans', sans-serif;
}

.current-icon {
    margin-right: 1rem;
    width: 7rem;
}

.currently,
.details {
    padding: 1rem;
}

.list {
    user-select: none;
}

.list,
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    margin-left: 1.5rem;
}

.map {
    text-align: center;
}

.list,
.details,
.map {
    line-height: 3rem;
}

.search {
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 20rem;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.submit {
    background-color: #F1F4F5;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search,
.submit {
    outline: none;
    border-color: black;
    padding: 0.5rem;
}

#map {
    height: 15rem;
    width: 40rem;
    border-radius: 1rem;
}

.currently,
#map {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.upper {
    justify-content: space-between;
    margin: 1rem;
}

.bottom {
    flex-direction: column;
    margin: 3rem 5rem 0 5rem;
    border-top: 1px solid black;
}

.bottom,
.upper {
    display: flex;
}

.buttons,
.arrows {
    display: inline-flex;
}   

.daily-button,
.hourly-button {
    font-size: 1rem;
    user-select: none;
    padding: 1rem;
}

.daily-button,
.hourly-button,
.arrow {
    border: none;
    background: none;
    cursor: pointer;
}

.future {
    display: flex;
    justify-content: space-around;
    margin: 2rem
}

.sub-group {
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time-unit {
    font-size: 2rem;
}

.currently-header,
.location,
.time-unit {
    font-weight: 500;
}

.future-temp {
    /* avoid elements moving while animating on conversion */
    width: 10rem;
}

.temp,
.temp>*,
.future-temp,
.future-temp>span {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.future-temp>span {
    font-size: 1.25rem;
}

/* default tab on first time page load */
.daily-button {
    border: 1px solid black;
    margin-right: 5rem;
}

.arrow {
    margin-left: 5rem;
    display: none;
}

.arrow:hover {
    color: gray;
}

.arrow:active {
    color: black;
}